<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/tacit.min.css"/>
        <title>Cloud Demo</title>
    </head>
    <body>

        <h3>SPRING DATA JPA</h3>
        <form action="/db" method="GET">
            <button type="submit">reload</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Vorname</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customerList}">
                    <td th:text="${customer.firstName}">Vorname</td>
                    <td th:text="${customer.lastName}">Nachname</td>
                </tr>
            </tbody>
        </table>
        <form action="/db/delete" method="GET">
            <button type="submit">DB reset</button>
        </form>

    </body>
</html>
